@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('normalize.css');

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    min-height: 100vh;
    min-width: 375px;
}

p {
    margin: 0 0 1rem;
}

.container {
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
    padding: 4.5rem 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
